[submodule "2_Solidity/03_framwork/homework/NFT_Auction_Market/lib/openzeppelin-contracts"]
	path = 2_Solidity/03_framwork/homework/NFT_Auction_Market/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "2_Solidity/03_framwork/homework/NFT_Auction_Market/lib/chainlink-brownie-contracts"]
	path = 2_Solidity/03_framwork/homework/NFT_Auction_Market/lib/chainlink-brownie-contracts
	url = https://github.com/smartcontractkit/chainlink-brownie-contracts
